body.active-modal {
  overflow-y: hidden;
}

ul {
  list-style: none;
  font-style: normal;
  padding: 0;
  width: fit-content;
}

p {
  margin: 0;
  padding: 0;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 1000;
}

.overlay {
  background: rgba(97, 97, 97, 0.6);
  backdrop-filter: blur(4px);
}



/* .modal:target {
  opacity: 1;
  pointer-events: auto;
} */

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  line-height: 1.4;

  width: 280px;
  height: 786px;
  transform: translate(-50%, -50%);
  background-color: var(--color-wight);
  border-radius: 20px;
  z-index: 1000;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }

  @media screen and (min-width: 768px) {
    width: 681px;
    height: 540px;
    padding: 0;
    border-radius: 40px;
  }
}

.content:target {
  opacity: 1;
  pointer-events: auto;
}

.item {
  display: flex;
  padding: 0;
}

.item:not(:last-child) {
  margin-bottom: 8px;
}

.itemTitle {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.36;
  }
}

.description {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.36;
  }
}

.imgWrap {
  background-color: transparent;

  @media screen and (min-width: 768px) {
    position: relative;
    border-radius: 40px;
  }
}

.contentWrap {
  margin-top: 12px;
  margin-left: 12px;
  max-width: 256px;

  @media screen and (min-width: 768px) {
    position: absolute;
    margin-top: 20px;
    margin-left: 318px;
  }
}

.avatar {
  display: block;
  width: 240px;
  height: 240px;
  margin-top: 44px;
  margin-left: 20px;
  object-fit: cover;
  background-color: rgb(108, 127, 175);
  border-radius: 0px 0px 40px 40px;

  @media screen and (min-width: 768px) {
    margin-top: 32px;
    margin-left: 32px;
    width: 262px;
    height: 298px;
  }
}

.optionText {
  position: absolute;
  top: 60px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 126px;
  height: 32px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.357;
  background-color: var(--color-light-blue);
  border-radius: 0px 16px 16px 0px;

  @media screen and (min-width: 768px) {
    top: 48px;
    left: 32px;
  }
}

.title {
  margin-top: 12px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.37;
  letter-spacing: -0.01em;
  padding: 0;
  color: var(--color-dark);

  @media screen and (min-width: 768px) {
    font-size: 28px;
    line-height: 1.35;
    width: 321px;
  }
}

.listWrap{
  display: flex ;
  margin-top: 20px;
  margin-bottom: 12px;

  @media screen and (min-width: 768px){
    margin-bottom: 28px;
  }
}
.descriptionList{
  margin-left: 20px;

@media screen and (min-width:768px){
  margin-left: 51px;
}
}

.wrap {
  display: flex;
  position: absolute;
  margin-top: 682px;
  margin-bottom: 24px;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    margin-top: 476px;
    margin-bottom: 24px;
    margin-left: 375px;
  }
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  margin-bottom: 8px;
  padding: 8px 20px;

  width: 256px;
  height: 40px;

  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.37;
  letter-spacing: 0.04em;

  background-color: var(--color-light-background);
  border: 2px solid var(--color-blue);
  border-radius: 40px;
  color: var(--color-blue);
  @media screen and (min-width: 768px) {
    width: 129px;
  }
}

.button:hover,
.button:focus {
  border-color: var(--color-blue-gradient);
  background: var(--color-blue-gradient);
  color: var(--color-light-background);
  transition: all linear 250ms;
}

.textWrap {
  margin-left: 12px;
  @media screen and (min-width: 768px) {
    position: absolute;
    margin-top: 340px;
    margin-left: 32px;
    display: flex;
    width: fit-content;
  }
}

.textContent {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.36;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--color-dark);

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.5;
  }
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
  border: none;
  background-color: transparent;
}


.closeIcon {
  width: 24px;
  height: 24px;
  color: var(--color-blue);
}

.closeIcon:hover,
.closeIcon:focus {
  color: var(--color-dark);
}

.contacts {
  color: var(--color-orange);
  text-decoration: underline;
}
