.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 8px 20px;

    width: 256px;
    height: 40px;

    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.37;
    letter-spacing: 0.04em;

    background-color: #54ADFF;
    color: #FEF9F9;
    border: 1px solid #54ADFF;
    border-radius: 40px;
}

.modal-button:hover,
.modal-button:focus {
    background-color: #FEF9F9;
    border: 2px solid #54ADFF;
    color: #54ADFF;
}

.icon {
    color: inherit;
    margin-left: 8px;
    transform: rotate(25deg);
    width: 24px;
    height: 24px;
}

