.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-bottom: 8px;
    padding: 8px 20px;
  
    width: 256px;
    height: 40px;
  
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.37;
    letter-spacing: 0.04em;
  
    background-color: var(--color-light-background);
    border: 2px solid var(--color-blue);
    border-radius: 40px;
    color: var(--color-blue);
    @media screen and (min-width: 768px) {
      width: 129px;
    }
  }
  
  .button:hover,
  .button:focus {
    border-color: var(--color-blue-gradient);
    background: var(--color-blue-gradient);
    color: var(--color-light-background);
    transition: all linear 250ms;
  }