.item {
  width: 280px;
  border-radius: 20px;
  box-shadow: var(--shadow-default);
}
.item:hover,
.item.focus {
  box-shadow: var(--shadow-hover);
}
.item::before {
  content: '';
  display: block;
  width: auto;
  height: 8px;
  border-radius: 40px;
  background: var(--color-blue-gradient);
  margin-bottom: 12px;
}
.img {
  height: 252px;
  width: 280px;
  border-radius: 20px;
  object-fit: cover;
  margin-bottom: 16px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 12px 12px 12px;
  height: 222px;
}
.bottomWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}
.header {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;

  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -0.01em;

  margin-bottom: 16px;
}
.text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;

  margin-bottom: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.date {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.link {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-blue);
}
@media screen and (min-width: 768px) {
  .item {
    width: 336px;
  }
  .item::before {
    margin-bottom: 14px;
  }
  .img {
    width: 336px;
  }
}
@media screen and (min-width: 1280px) {
  .item {
    width: 395px;
  }
  .item::before {
    margin-bottom: 14px;
  }
  .img {
    width: 395px;
  }
}
