.container {
  margin: 0 auto;
  padding: 0 16px;
  margin-bottom: 80px;
  width: 1280px;
}
.title {
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;

  font-family: 'Manrope';
  font-weight: 700;
  font-size: 48px;
  line-height: 1.37;

  color: var(--color-black);
}
.list {
  display: flex;
  gap: 24px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
  
  list-style: none;
  margin: 0 auto;
  margin-bottom: 60px;
  padding: 0;
  align-items: center;
  justify-content: center;
}
.item {
  margin: 0;
  padding: 12px 16px;
  width: 393px;

  min-height: 287px;
  border-radius: 40px;
  box-shadow: var(--shadow-default);
  background-color: var(--color-wight);
}
.itemTitle {
  margin-bottom: 16px;
  text-align: center;
  align-items: center;

  font-family: 'Manrope';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.35;

  color: var(--color-blue)
}
.itemWrapper {
  display: flex;
  gap: 20px;
  justify-content: left;
  align-items: center;
}
.itemLogo {
  margin-top: -110px;
}
.itemList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
}
.textTitle {
  font-family: 'Manrope';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.37;

  color: var(--color-black);
}
.text {
  font-family: 'Manrope';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.37;
    
  color: var(--color-black);
}
.text:hover {
  color: var(--color-blue)
}

/* @media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
    width: 768px;
  }
   .list {
    width: 704px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    padding: 0 16px;
    width: 1280px;
  }
  .list {
    width: 1248px;
  }
} */

