.btn {
  border: 2px solid var(--color-blue);
  border-radius: 40px;
  padding: 8px 20px;
  margin-top: 20px;

  font-family: 'Manrope';
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.04em;

  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-blue);
  background: var(--color-wight);
  transition: all linear 250ms;
}
.btnFavorite {
  background-color: var(--color-blue);
  color: var(--color-light-background);
}
.btn:focus,
.btn:hover {
  border-color: var(--color-blue-gradient);
  background: var(--color-blue-gradient);
  color: var(--color-light-background);
  transition: all linear 250ms;
}
.icon {
  color: inherit;
  margin-left: 12px;
  transform: rotate(25deg);
  width: 24px;
  height: 24px;
}
@media screen and (min-width: 768px) {
  .btn {
    margin-left: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .btn {
    margin-left: 0;
  }
}
