.main {
  margin-top: 68px;
  background-image: url('../../images/bg/bg-mobile-min.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.formikWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.formik {
  margin-top: 24px;
  padding: 24px 8px 16px;
  border-radius: 40px;
  background-color: var(--color-wight);
  box-shadow: var(--shadow-default);
  width: 280px;
  min-height: 496px;

  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 24px;
  margin-left: 12px;
  color: var(--color-dark);
}
.form1 {
  display: flex;
  flex-direction: column;
}
.btnWrapper {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}

@media screen and (min-width: 768px) {
  .main {
    background-image: url('../../images/bg/bg-tablet-min.png');
  }
  .formik {
    min-width: 458px;
    min-height: 542px;
    padding: 20px 32px;
  }
  .title {
    margin-left: 0;
    font-size: 28px;
    line-height: 38px;
  }
  .btnWrapper {
    flex-direction: row-reverse;
  }
}

@media screen and (min-width: 1280px) {
  .main {
    background-image: url('../../images/bg/bg-desctop-min.png');
  }
}
