.logo {
  width: 118px;
  height: 22px;
  background-image: url("../../images/logo/logoSmall.svg");
  background-repeat: no-repeat;
  background-position: center center;
  
  @media screen and (min-width: 768px) {
    width: 165px;
    height: 30px;
    background-image: url("../../images/logo/logoBig.svg");}
}
