.container {
  background: #FFFFFF;
  box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
  border-radius: 40px;
  padding: 20px 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.photoContainer {
  margin-bottom: 24px;
}

.form {
  margin-bottom: 20px;
}

.logoutButton {
  font-family: 'Manrope';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.37;
  display: flex;
  align-items: center;
  gap: 12px;
  padding-right: 10px;
  color: #888888;
  align-self: flex-start;
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
  .container {
    flex-direction: row;
    align-items: flex-start;
  }

  .photoContainer {
    order: 2;
    flex-grow: 1;
    margin: 0;
  }

  .dataContainer {
    order: 1;
    width: 355px;
    max-width: 355px;
  }
}
