.btn {
  width: 165px;
  height: 40px;
  background-color: var(--color-orange);

  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: var(--color-light-background);

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 40px;
  border: 2px solid var(--color-orange);

  animation: animate_pulse 1.5s infinite;
  transition: all 300ms ease-in-out;
}
.icon {
  color: inherit;
  margin-left: 8px;
  transform: rotate(25deg);
  width: 24px;
  height: 24px;
}

.btn:hover,
.btn:focus {
  color: var(--color-orange);
  background-color: var(--color-light-background);
}

@keyframes animate_pulse {
  0% {
      box-shadow: 0 0 0 0 rgba(255, 193, 7, 0.7);
  }

  70% {
      box-shadow: 0 0 0 20px rgba(255, 108, 0, 0);
  }

  100% {
      box-shadow: 0 0 0 0 rgba(228, 25, 49, 0);
  }
}