body.active-modal {
    overflow-y: hidden;
}

p {
    margin: 0;
    padding: 0;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(39, 39, 39, 0.6);
}

.modal {
    width: 100%;
    height: 100%;
    padding: 16px 16px 60px 16px;
@media screen and (min-width: 768px){
    padding: 24px 24px 60px 24px;
}
    
}
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    border: none;

    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #ffffff;
    border-radius: 20px;
    border-color: #ffffff;
    width: 280px;
    height: 287px;

@media screen and (min-width: 768px){
    width: 608px;
    height: 354px;
    border-radius: 40px;
    }
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
    border: none;
    background-color: inherit;
}

.icon{
    width: 24px;
    height: 24px;
    color: #54ADFF;
}
.icon-close:hover,
.icon-close:focus {
    color: black;
}

.title {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    text-align: center;

@media screen and (min-width: 768px) {
        margin-left: 24px;
        margin-right: 42px;
        margin-bottom: 20px;
    }

}

.text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.37;
    text-align: center;

@media screen and (min-width: 768px){
    font-weight: 500;
    font-size: 24px;
    
}
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 12px;
    margin-bottom: 16px;

@media screen and (min-width: 768px) {
    margin-left: 8px;
}
}



