.inputList {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 0;
}
.input{
    width: 458px;
    height: 48px;
    padding: 0 12px ;
    border: 1px solid #54ADFF;
    border-radius: 40px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #888888;
}
.inputLastReg {
    width: 458px;
    height: 48px;
    padding: 0 12px ;
    border: 1px solid #54ADFF;
    border-radius: 40px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #888888;
margin-bottom: 8px;
}
.inputLastLog {
    width: 458px;
    height: 48px;
    padding: 0 12px ;
    border: 1px solid #54ADFF;
    border-radius: 40px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #888888;
margin-bottom: 28px;
}
.linklist {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 16px;
    margin-bottom: 0;
}
.txtLink {
   font-family: 'Manrope';
   font-size: 12px;
   line-height: 1.33;
   text-align: center;
   letter-spacing: 0.04em;
   color: #888888;
   padding: 0;
   margin: 0;
}
.btnLink {
   font-family: 'Manrope';
   font-size: 12px;
   line-height: 1.33;
   text-align: center;
   letter-spacing: 0.04em;
   text-decoration-line: underline;
   color: #54ADFF;
   cursor: pointer;
   padding: 0;
}


