.btn {
  font-family: 'Manrope';
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: var(--color-orange);

  position: absolute;
  right: 20px;
  top: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  
  @media screen and (min-width: 768px) {
    right: 32px;
    top: 28px;
  }
  @media screen and (min-width: 1280px) { 
    display: none;
  }
}
.burger {
  width: 24px;
  height: 24px;
  color: var(--color-orange);
}
