.header {
  position: relative;
  display: flex;
  align-items: center;
  
}
.mobileMenu {
  position: absolute;
  z-index: 1001;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  
  width: 100vw;
  height: 100vh;
  padding-top: 20px;
  
  background-color: transparent;
  visibility: hidden;
  opacity: 0;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all ease-in 250ms;
}
.show {
  background-color: var(--color-light-background);
  visibility: visible;
  opacity: 1;
  top: 60px;
}

@media screen and (min-width: 768px) {
  .show {top: 70px}
}
@media screen and (min-width: 1280px) {
  .header {
    padding: 20px 16px;
    justify-content: start;
  }
  
}