.container {
  display: flex;
  gap: 32px;
}

.tabContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.tabsTitle {
  font-family: 'Manrope';
  font-weight: 500;
  font-size: 28px;
  line-height: 1.34;
}

@media screen and (max-width: 1279px) {
  .container {
    flex-direction: column;
    gap: 40px;
    padding-top: 80px;
  }

  .tabContainer {
    gap: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding-top: 140px;
  }
  .myInformationTab {
    width: 395px;
    min-width: 395px;
  }
}


