.item {
  margin: 0;
  width: 280px;

  min-height: 436px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: var(--shadow-default);
  background-color: var(--color-wight);

  transition: all 200ms ease-out;
}
.item:hover,
.item.focus {
  box-shadow: var(--shadow-hover);
}

.relativeContainer {
  position: relative;
  z-index: 1;
}
.img {
  display: block;
  object-fit: cover;
  max-width: 100%;
  height: 288px;
}
.wrapOption {
  position: absolute;

  left: 0;
  top: 16px;
  width: 126px;
  padding: 7px 13px;
  background-color: var(--color-light-blue);
  text-align: center;
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
}
.textOption {
  margin: 0;
  font-family: 'Manrope';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.37;
}
.container {
  position: absolute;
  left: 50%;
  bottom: 16px;
  display: flex;
  justify-content: center;
  gap: 12px;
  transform: translateX(-50%);

  width: 264px;
}
.wrap_text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 10px;
  z-index: 1000;

  background-color: var(--color-light-blue);

  font-weight: 600;
  font-size: 12px;
  line-height: 1.37;

  border-radius: 16px;
}

.sex_icon {
  font-size: 18px;
  color: var(--color-blue);
}

.sex_desc {
  white-space: nowrap;
}

.wrap_desc {
  padding: 14px 15px 24px;
}

.title {
  height: 66px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.37;
}

.icon {
  color: inherit;
  width: 26px;
  height: 22px;
}

@media screen and (min-width: 768px) {
  .item {
    width: 336px;
    margin-bottom: 24px;
  }
  .item:nth-child(odd) {
    margin-right: 32px;
  }
  .wrap_desc {
    padding: 14px 15px 24px;
  }
}
@media screen and (min-width: 1280px) {
  .item {
    width: 288px;
  }
  .item:nth-child(even) {
    margin-right: 32px;
  }
  .item:nth-child(4n + 4) {
    margin-right: 0;
  }
}
