.item {
  margin: 0;
  width: 280px;

  min-height: 456px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: var(--shadow-default);
  background-color: var(--color-wight);
}

.relativeContainer {
  position: relative;
}
.img {
  display: block;
  max-width: 100%;
  height: auto;
}
.wrapOption {
  position: absolute;
  left: 0;
  top: 16px;
  width: 126px;
  padding: 7px 13px;
  background-color: var(--color-light-blue);
  text-align: center;
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
}
.textOption {
  margin: 0;
  font-family: 'Manrope';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.37;
}
.container {
  position: absolute;
  left: 0;
  bottom: 16px;
  display: flex;
  gap: 12px;
  margin-left: 8px;
  margin-right: 8px;
}
.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 80px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: var(--color-light-blue);
  text-align: center;
  border-radius: 16px;
  z-index: 1000;
}

.text {
  margin: 0;
  font-family: 'Manrope';
  font-weight: 600;
  font-size: 12px;
  line-height: 1.37;
}
.wrapText {
  margin: 20px 15px 24px;
}
.title {
  height: 70px;
  font-family: 'Manrope';
  font-size: 24px;
  font-weight: 700;
  line-height: 1.37;
}
@media screen and (min-width: 768px) {
  .item {
    width: 336px;
    margin-bottom: 24px;
  }
  .item:nth-child(odd) {
    margin-right: 32px;
  }
  .wrapText {
    margin: 20px 20px 24px;
  }
}
@media screen and (min-width: 1280px) {
  .item {
    width: 288px;
  }
  .item:nth-child(even) {
    margin-right: 32px;
  }
  .item:nth-child(4n + 4) {
    margin-right: 0;
  }
}
