
.modal, .overlay  {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

  .overlay {
    background: rgba(39, 39, 39, 0.6);
}

  .modal {
    width: 100%;
    height: 100%;
    padding: 16px 16px 60px 16px;

@media screen and (min-width: 768px){
    padding: 24px 24px 60px 24px;
}
}
  
  .content {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
   
    background-color: #fff;
    border: none;
    border-radius: 20px;
    width: 280px;
    height: 287px;

@media screen and (min-width: 768px){
    border-radius: 40px;
    width: 608px;
    height: 354px;
  }
}

  .title {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-align: center;

@media screen and (min-width: 768px) {
      margin-bottom: 20px;
  }
}

.buttonWrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  
  @media screen and (min-width: 768px) {
  }
}

.modalBtn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 8px 20px;

  width: 129px;
  height: 40px;

  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.37;
  letter-spacing: 0.04em;
 
  background-color: #FEF9F9;
  border: 2px solid #54ADFF;
  color: #54ADFF;
  border-radius: 40px;

  

}

.modalBtn:hover,
.modalBtn:focus {
  background-color: #54ADFF;
  color: #FEF9F9;
  border: 1px solid #54ADFF;
}

.btnAgree{
  margin-left: 5px;
} 
.icon {
  color: inherit;
  margin-left: 8px;
  width: 24px;
  height: 24px;
} 

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
  border: none;
  background-color: transparent;
}

.closeIcon {
  width: 24px;
  height: 24px;
  color: #54ADFF;
}
.closeIcon:hover,
.closeIcon:focus {
  color: black;
}
  
p {
  margin: 0;
}

  